<div oc-lazy-load="['js/controllers/JacketController.js']">
<div ng-controller="JacketController">
<section>
    <div class="tabs tabs-style-underline">
      <nav>
        <ul>
          <li class="tab-current"><a href="#section-underline-1" class="icon icon-home"><span>Overview</span></a></li>
          <li class=""><a href="#section-underline-2" class="icon icon-gift"><span>Products</span></a></li>



        </ul>
      </nav>
      <div class="content-wrap">
        <section id="section-underline-1" class="content-current">
          <div class="container">
            <div class="media info-media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="assets/jacket_1.jpg" />
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">
                  COWHIDE
                </h4>
                Cowhide is the most common leather used in leather jackets, not just because of its wide availability and low cost, but because
                of its toughness, durability, and resistance to water and dirt. It offers great protection – most motorcycle
                jackets are crafted from cowhide, for example – but can take some time to wear- in due to its stiff texture.
                With its versatile matte finish and casual appeal, cowhide is widely accepted as the go-to leather for an
                affordable leather jackets.
              </div>
            </div>
            <div class="media info-media">
              <div class="media-body media-middle">
                <h4 class="media-heading">
                  BISON
                </h4>
                Bison leather is very similar to cowhide in terms of its ruggedness and durability, but it also boasts a beautiful natural
                grain patterning that cowhide generally doesn't have, lending a rich, earthy look and texture. The thick
                grain also makes bison leather great for protective motorcycle gear.
              </div>
              <div class="media-right">
                <a href="#">
                  <img class="media-object" src="assets/jacket_2.jpg" />
                </a>
              </div>
            </div>
            <div class="media info-media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="assets/jacket_3.jpg" />
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">
                  DEERSKIN
                </h4>
                Dense and incredibly durable, deerskin is not only ideal for leather jackets, but is also commonly used to make leather gloves
                and handbags. It's wonderfully supple and gets softer and softer the more you wear it. Deerskin is perfect
                for someone who wants the same toughness and durability as a cowhide jacket, but with a softer, more elegant
                feel.
              </div>
            </div>
            <div class="media info-media">
              <div class="media-body media-middle">
                <h4 class="media-heading">
                  GOATSKIN
                </h4>
                Goatskin is a great all-around leather that, like deerskin, is softer, lighter, and more flexible than cowhide. Also very
                durable, goatskin jackets often look even better after years of wear than when new. The Navy and Air Force
                use goatskin for their G-1 and A-2 flight jackets, respectively. Goatskin is quite supple and has a pleasing
                pebble grain.
              </div>
              <div class="media-right">
                <a href="#">
                  <img class="media-object" src="assets/jacket_4.jpg" />
                </a>
              </div>
            </div>
            <div class="media info-media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="assets/jacket_5.jpg" />
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">
                  LAMBSKIN
                </h4>
                Lambskin is the crème de la crème of leather in terms of softness, suppleness, and wearability. It has a luxurious texture
                and is quite versatile, working equally as well in an elegant, full-length coat or a chic, cropped leather
                jacket. Naturally very lightweight, leather jackets made from lambskin can be worn comfortably year-round.
              </div>
            </div>
            <div class="media info-media">
              <div class="media-body media-middle">
                <h4 class="media-heading">
                  CALFSKIN
                </h4>
                Calfskin shares some of the same rugged characteristics as cowhide but has a softer, finer feel and a smoother surface. While
                generally thicker and heavier than lambskin, calfskin combines some of the toughness of cowhide with the
                supple, lightweight feel of lambskin.
              </div>
              <div class="media-right">
                <a href="#">
                  <img class="media-object" src="assets/jacket_6.jpg" />
                </a>
              </div>
            </div>
          </div>
        </section>
        <section id="section-underline-2">
          <div class="container">
            <div class="row">
              <div ng-repeat="product in products track by $index" class="col-lg-6 col-md-6 col-xs-6 col-sm-6 text-center main-gal-margin">
                    <a ng-click="saveClicked(product)" href="#!/item" class="border min-padding">
                        <img class="zoom img-full-width" src='assets/jackets/{{product}}.jpg' data-zoom-image="assets/jackets/{{product}}.jpg"/>
                        <p class="header-link">
                            Product name
                        </p>
                    </a>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /content -->
    </div>
    <!-- /tabs -->
  </section>
  </div>
  </div>